{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid hero-section position-relative d-flex align-items-center">
        <div class="row w-100 mx-0">
            <div class="col-12 col-md-6 text-center text-md-left text-container">
                <h1 class="display-4 logo-font text-black">Pro Level Keyboards for
                    <strong class="logo-color">All</strong>
                </h1>
                <div class="my-5">
                    <a class="custom-btn" href="{% url 'products' %}">Find the perfect Keyboard</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
