html {
    height: 100%;
    background-color: hsl(37, 95%, 91%);
}

body {
    height: calc(100vh - 164px);
    background-color: #FEEED4;
    color: #555;
    font-family: 'Roboto';
}

.row.hero {
    width: 100%;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.logo-color {
    color: #0debb7;
}

.logo-image {
    height: 48px;
    width: auto;
    margin-right: 10px; 
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.btn-green {
    background: #0debb7;
    color: white;
}

/* Button styles */
.custom-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1em 1.75em;
    font-size: 1em;
    font-weight: 600;
    line-height: 1.5em;
    border-radius: 0.25em;
    border: 1px solid #000;
    background-color: #000; 
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.2s, box-shadow 0.2s;
    padding-left: 1em;
    padding-right: 1em;
    box-shadow: 4px 4px 0 #34d399;
}

/* Button hover styles */
.custom-btn:hover {
    background-color: #161818;
    box-shadow: 8px 8px 0 #34d399;
}

.text-black {
    color: #000 !important;
}

.text-green {
    color: rgb(52, 211, 153);
}

.border-black {
    border: 1px solid black !important;
}

.hero-section {
    position: relative;
    display: flex;
    align-items: center;
    height: 70vh;
    background-image: url('/media/hero-beige.webp');
    background-size: cover;
    background-position: center;
}



/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 64px;
    }
}
